<ion-header>
  <ion-toolbar color="success" style="text-align: center;">
    <ion-title >ChatPrueba 1 </ion-title>
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  *{
    font-family: 'Nerko One', cursive;
  }
</style>

<ion-content class="ion-padding">
  <img style="height: 30%;"src="https://cdn-icons-png.flaticon.com/512/4755/4755462.png" alt="">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <ion-badge color="danger"
         class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </ion-badge>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required placeholder="Contraseña"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <ion-badge color="danger" class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </ion-badge>
      </ng-container>
    </div>
    <br>
    <br>
    <br>
    <ion-button color="success"  type="submit" expand="block">Iniciar Sesión</ion-button>
    <ion-button color="danger" (click)="goToRegisterPage()" expand="block">Registrarse</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  
</ion-content>