<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="title1">Bandeja de mensajes</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="logout()">
        <ion-icon name="person-remove-sharp"></ion-icon>      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<style>
  *{
    font-family: 'Nerko One', cursive;
  }
</style>
<ion-content #content padding id="container">
  <ion-card *ngFor="let messageData of messageList">
    <ion-card-header>
      {{messageData.Name}}:
    </ion-card-header>
    <ion-card-content>
      {{messageData.Message}}
    </ion-card-content>
    <ion-card-content>
      <ion-img width="80" height="80" [src]="messageData.Image"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-card-content class="ion-padding ion-text-center" *ngIf="!isUploading && !isUploaded" style="background-color:white ;">
  <ion-button class="imageContainer" style="background-color: whitesmoke;">
    <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)" />
  </ion-button>
</ion-card-content>

<ion-card *ngIf="isUploading && !isUploaded">

  <ion-card-content >
    <div *ngIf="percentage | async as pct">
      Cargando...: {{ pct | number }}%
      <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
    </div>
    <div *ngIf="snapshot | async as snap">

    </div>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="!isUploading && isUploaded">
  <ion-card-header>
    <b>Imagen cargada</b>
  </ion-card-header>

</ion-card>
<ion-footer id="final-scroll">

  <ion-toolbar color="secondary">
    <ion-input placeholder="Escriba qui su mensaje" [(ngModel)]="messageData.Message"></ion-input>

    <ion-buttons slot="end">
      <ion-button (click)="CreateRecord()">
        <ion-icon name="send"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>

</ion-footer>